---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Hey there!" }}</h3> -->

<h1>Hey there!</h1>
<p class="about-content">I am pursuing a Master’s program in Computational Social Science at the University of Chicago. 
    I am working with <a href="https://people.cs.uchicago.edu/~feamster/" target="_blank">Dr. Nick Feamster</a> 
    and <a href="https://mollyow.github.io/" target="_blank">Dr. Molly Offer-Westort</a> on building chatbots to persuade 
    people to vote on critical societal issues like gun control, women’s reproductive rights, and advancing LGBTQ+ equality. 
    My current interest is in studying misinformation on private channels like messaging apps and building effective behavioral 
    interventions to tackle misinformation-sharing. I enjoy designing field experiments on social media and often use Bayesian modeling, 
    Natural language analysis, Causal Inference, and Network theory for data analysis. My research focus is at the intersection of 
    building infrastructure, statistical modelling, and theory on collective human behaviour. 
</br></br> In what seems like a previous life, I was an Embedded Software Engineer. I launched a startup, was 
part of the University Hyperloop team that made it to the SpaceX finals in 2017, was a Lead Engineer at a Home automation startup, 
and was a Senior Software Engineer at Bosch, building safety critical features for vehicles.</p>
