---
layout: archive
---
<div class="projects">

    <h2>Designing Against Misinformation</h2>
    <p style="font-size: 17px;">My research project aimed to design an accuracy nudge feature for posts containing misinformation. Considering the learnings on designing against misinformation, by the Facebook User Experience team (findings detailed <a class="projects-link" href="https://medium.com/designatmeta/designing-against-misinformation-e5846b3aa1e2" target="_blank">here</a>), as a starting point, I improved the accuracy nudge feature for Facebook based on the suggestions provided in the post.</p>
    <iframe style="border: 1px solid rgba(0, 0, 0, 0.1); margin-top: 15px;" 
    width="550" height="450" 
    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FenPiP36y7ro6ABc6J8biGL%2FFinal-Project-v2%3Fpage-id%3D0%253A1%26node-id%3D8-222%26viewport%3D237%252C383%252C0.23%26scaling%3Dscale-down%26starting-point-node-id%3D8%253A222" 
    allowfullscreen></iframe>

    <h2 style="width: 100%;">The below prototype has been designed based on the User Personas described <a class="projects-link" href="https://kshithijareddy.github.io/assets/misc/User-Personas.pdf" target="_blank">here.</a></h2>
    <iframe style="border: 1px solid rgba(0, 0, 0, 0.1); margin-top: 15px;" 
    width="550" height="450" 
    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FxhbADvkndjmT5xN4b2HDd9%2FRedesign-MPCS-website%3Fpage-id%3D0%253A1%26node-id%3D1-278%26viewport%3D1063%252C736%252C0.13%26scaling%3Dscale-down" 
    allowfullscreen></iframe>

    <h2>Redesigned Course Registration Website</h2>
    <iframe style="border: 1px solid rgba(0, 0, 0, 0.1); margin-top: 15px;" 
    width="550" height="450" 
    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FnaHkC5LidVZVSkr2JRm0tU%2FRedesign-Course-Registration-Website%3Fpage-id%3D0%253A1%26node-id%3D1-278%26viewport%3D926%252C806%252C0.12%26scaling%3Dscale-down%26starting-point-node-id%3D1%253A278" 
    allowfullscreen></iframe>

    <h2 style="width: 100%;">Designed an iOS app prototype based on the User Persona described <a class="projects-link" href="https://kshithijareddy.github.io/assets/misc/App-Design-Idea.pdf" target="_blank">here.</a></h2>
    <iframe style="border: 1px solid rgba(0, 0, 0, 0.1); margin-top: 15px;" 
    width="550" height="950" 
    src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FhE2vibwYYa06jiBYen6PHH%2FApp-design-idea---UC-Raccoons%3Fpage-id%3D0%253A1%26node-id%3D5-359%26viewport%3D97%252C-57%252C0.18%26scaling%3Dmin-zoom%26starting-point-node-id%3D5%253A359" 
    allowfullscreen></iframe>

</div>



