---
layout: archive
---

<div class="projects">
  <a class="projects-link" href="https://medium.com/@shiyanglai/talk-like-a-president-f09bbd90509b" target="_blank">
    <h2 class="projects-link">Quantifying U.S. presidents' uniqueness using multimodal analysis</h2>
  </a>
  <p class="impact-content">Aimed to answer how presidents present themselves differently in different contexts by implementing a multi-modal deep learning
    pipeline, extracting information from text, audio, and image data from presidential speeches. Built deep learning models for encoding
    speech information (fasttext and BERT), extracting features from audio (CNN audio classifier, CNN emotion recognition), extracting
    unique features from images (EfficientNet, CNN emotion recognition), and for multimodal prediction (self-defined RankNet).</p>

    <a class="projects-link" href="https://docs.google.com/document/d/12D_7Axvqec-q5RQ4dwkgiUdbWRIWFsc4AryKVdHoBSU/edit" target="_blank">
      <h2 class="projects-link">Studying the effect of content moderation on language patterns</h2>
    </a>
    <p class="impact-content">Pursued an independent project to study the impact of mass content moderation on Reddit on the language patterns of users. Analysed
      manually scraped data collected for seven subreddits over 18 months and found discernible changes in syntactic, semantic and topic
      discussions in different subreddits after a mass content moderation event. </p>

    
    <a class="projects-link" href="https://drive.google.com/file/d/1lYGmou2SNEozGVxLFzTx6TcyXseDzaUO/view" target="_blank">
      <h2 class="projects-link">Internet censorship in Turkmenistan</h2>
    </a>
    <p class="impact-content">Studied the extent of online censorship and techniques used in Turkmenistan. Our team gathered over 600 million website URLs to
      test censorship and identified all relevant Autonomous Systems and DNS resolvers in the country. I conducted a thematic analysis of
      blocked websites using regular expression matching to manipulate DNS requests.</p>

    <h2 class="projects-link">Interpretable Torque Model Using Symbolic Regression (Bosch Hackathon)</h2>
    <p class="impact-content">Programmed a genetic algorithm to find an optimum functional expression for the torque demand of a diesel engine. The multiparameter optimisation approach found a model with lesser memory and computing demand than the model already in production
      while having similar accuracy.</p>
</div>


