---
layout: archive
---

<div class="projects">

  <a class="projects-link" href="https://drive.google.com/file/d/1cVe7g9URafKCkPBfXHS0NGAmhxA4_ygx/view" target="_blank">
    <h2 class="projects-link">Estimating Political Ideology using (massive) Social Network Data</h2>
  </a>
  <p class="impact-content">I estimate the ideology for all the members of the 116th Congress and their Twitter followers with a 
    Bayesian Latent Space model, using information about the legislators’ Twitter followers network. This method correctly identifies 
    legislators in the extreme right and left of the political spectrum, which conventional estimates like DW-NOMINATE fail to identify. 
    I also provide a detailed analysis of the standard errors for ideology estimates of the legislators and ordinary users.</p>

  <a class="projects-link" href="https://medium.com/@shiyanglai/talk-like-a-president-f09bbd90509b" target="_blank">
    <h2 class="projects-link">Quantifying U.S. presidents' uniqueness using multimodal analysis</h2>
  </a>
  <p class="impact-content">Aimed to answer how presidents present themselves differently in different contexts by implementing a multi-modal deep learning
    pipeline, extracting information from text, audio, and image data from presidential speeches. Built deep learning models for encoding
    speech information (fasttext and BERT), extracting features from audio (CNN audio classifier, CNN emotion recognition), extracting
    unique features from images (EfficientNet, CNN emotion recognition), and for multimodal prediction (self-defined RankNet).</p>

    <a class="projects-link" href="https://docs.google.com/document/d/12D_7Axvqec-q5RQ4dwkgiUdbWRIWFsc4AryKVdHoBSU/edit" target="_blank">
      <h2 class="projects-link">Studying the effect of content moderation on language patterns</h2>
    </a>
    <p class="impact-content">Pursued an independent project to study the impact of mass content moderation on Reddit on the language patterns of users. Analysed
      manually scraped data collected for seven subreddits over 18 months and found discernible changes in syntactic, semantic and topic
      discussions in different subreddits after a mass content moderation event. </p>

    
    <a class="projects-link" href="https://drive.google.com/file/d/1lYGmou2SNEozGVxLFzTx6TcyXseDzaUO/view" target="_blank">
      <h2 class="projects-link">Internet censorship in Turkmenistan</h2>
    </a>
    <p class="impact-content">Studied the extent of online censorship and techniques used in Turkmenistan. Our team gathered over 600 million website URLs to
      test censorship and identified all relevant Autonomous Systems and DNS resolvers in the country. I conducted a thematic analysis of
      blocked websites using regular expression matching to manipulate DNS requests.</p>
</div>


