.impact {
    margin-top: 40px;
    width: 150%;
    margin-bottom: 40px;
}
  
.impact-img {
    text-decoration:none;
    color: black;
    display: flex;
    background-color: white;
    border-width: 1px solid;
    border-style: solid;
    border-color: rgba(201, 197, 197, 0.406);
    margin-bottom: 60px;
    padding-right: 10px;
    align-items: center;
}

.impact-img:visited {
    color: black;
}

.impact-content {
    font-size: 17px;
    margin-bottom: 50px;
}